<style>


</style>



<h1>Welcome to PizzaMine</h1>
<p>
    <%= link_to "Login", login_path %>
    OR
    <%= link_to "Signup", signup_path %>
     OR
    <%=button_to "login with google",  '/auth/google_oauth2', method:'post' %>
    <img src="https://images.unsplash.com/photo-1574126154517-d1e0d89ef734?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHw%3D&w=1000&q=80">
</p>