<h1>Testing page for index</h1>

    <ol>
        <% @pizza.each do |p| %>
        
        <h1>Pizza Name:<%= p.name%>  </h1>


        <h2>Company Name:<%= p.company.name %> </h2>

        <h3>Description: <%= p.description %></h3>

    </ol>

<% end %>