<% if @pizza %>
  <h1>Reviews for <%= @pizza.name%> - <%= @pizza.company_name%></h1>
<% else %>
  <h1>All the Reviews </h1>
<% end %>

<ul>
<% @reviews.each do |r| %>

  <li>
     <%= link_to r.title, review_path(r)%> - <%= r.stars%>
  </li> <br>

<% end %>
</ul>