<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <title>PizzaMine</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>

   <div><%= render_nav_bar %></div>

  <body>
    <%= yield %>
  </body>
</html>